<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="928d86">  <td>19/12/16 21:12:31</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTest.beforeMethod()[pri:0, instance:Cleartrippackagae.NewTest@53f65459]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@988458918</td>   <td></td> </tr>
<tr bgcolor="928d86">  <td>19/12/16 21:13:03</td>   <td>31801</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.f()[pri:0, instance:Cleartrippackagae.NewTest@53f65459]">f</td> 
  <td>main@988458918</td>   <td></td> </tr>
<tr bgcolor="928d86">  <td>19/12/16 21:13:21</td>   <td>49034</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTest.afterMethod()[pri:0, instance:Cleartrippackagae.NewTest@53f65459]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@988458918</td>   <td></td> </tr>
</table>
